.after-submit {
  display: none;
}

.after-submit__logo {
  width: 187px;
  height: 24px;
  margin: 20px;
}

.after-submit__body {
  margin: 0 auto;
  margin-top: 15vh;
  border: 4px solid #EC233A;
  width: 322px;
  height: 322px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 17px;
}

.after-submit__title {
  font-size: 30px;
  font-family: 'Arial', serif;
  font-weight: bold;
  text-transform: uppercase;

  &::after {
    content: "";
    width: 198px;
    height: 4px;
    background-color: black;
    display: block;
    margin-left: 30%;
  }
}

.after-submit__text {
  margin-top: 30px;
  font-size: 18px;
  font-family: 'Arial', serif;
}