.answer-extended {
  background-color: $bgGrey;
  padding: 20px 0px 2px 18px;
  display: none;
  margin-bottom: 18px;
}

.answer-extended__question {
font-family: $fontMedium500;
font-size: 14px;
justify-content: space-between;
}

.answer-extended__list {
  margin-top: 22px;
  display: flex;
  flex-wrap: wrap;
  & li {
    flex: 0 1 29%;
    margin-right: 15px;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
    height: 110px;
    user-select: none;
  }
  & p {
    font-family: $fontRegular400;
    font-size: 10px;
    line-height: 14px;
    padding-top: 6px;
  }
  & label {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 5px 5px;
    background-color: #fff;
    cursor: pointer;
  }
  & input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    & ~ label {
      transition: 0.55s transform;
      & img {
        display: block;
        margin: 0 auto;
      }
      & .img-white {
        display: none;
      }
    }
    &:checked ~ label {
      transform: rotateY(360deg);
      background: $colorRed;
      color: $colorWhite;
      & .img-white {
        display: block;
      }
      & .img-colors {
        display: none;
      }
    }
  }
}

.message {
  color: $colorRed;
  font-size: 10px;
  font-family: $fontBoldItalic700;
  margin: 10px 0 25px 0;
}

