.question__answer {
  padding: 20px;
}

.wrap_range {
  padding: 10px 0px;
  margin: 0 14px;
  margin-top: -22px;
  position: relative;
  background-image: url(../img/scale.svg);
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: center 1px;
}

.range {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: transparent;
  outline: none;
  opacity: 1;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 26px;
    height: 33px;
    border: 0;
    border: 3px solid #fff;
    border-radius: 45%;
    opacity: 1;
    background: url('../img/grade_thumb.svg');
    cursor: pointer;
    box-sizing: content-box;

  }

  &::-moz-range-thumb {
    width: 26px;
    height: 33px;
    border: 3px solid #fff;
    border-radius: 45%;
    opacity: 1;
    background: url('../img/grade_thumb.svg');
    cursor: pointer;
  }
}

.range_value {
  position: absolute;
  width: 32px;
  text-align: center;
  top: -28px;
  left: 0;
  font-family: $fontMedium500;
  font-size: 16px;
  display: none;
}


.slider_range {
  width: 100%;
  height: 25px;
  background-color: #a3a3a3;
  mask: url('../img/thumb-line.svg') 0% 0/60px 26px, linear-gradient(to right, #fff calc(50% - 60px/2 + 1px), transparent 0 calc(50% + 60px/2 - 1px), #fff 0) right 0% top 21px/calc(200% - 60px) 4px;
  mask-repeat: no-repeat;
}

@media (max-width: 450px) {
  .wrap_range {
    background-size: 93%;
  }
}

@media (max-width: 400px) {
  .wrap_range {
    background-size: 91%;
  }
}

@media (max-width: 320px) {
  .wrap_range {
    background-size: 89%;
  }
}