.question__header {
  background-color: $bgGrey;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 18px;
}

.number {
  color: $colorRed;
  font-family: $fontBold700;
  font-size: 16px;
  margin-right: 8px;
  letter-spacing: -2px;
  flex: 0 0 auto;
}

.number__total {
  font-size: 10px;
}

.indicator {
  display: flex;
  flex: 1 1 auto;
  
  li {
    flex: 1 1 auto;
    height: 2px;
    background-color: #C4C4C4;
    margin-left: 3px;
    
    &.indicator_black {
      background-color: #000;
    }

    &.mark-last {
      flex: 0 0 auto;
      width: 17px;
      height: 15px;
      background-color: transparent;
      background-image: url(../img/mark-last-question.svg);
      background-repeat: no-repeat;
      margin: -7px 0px 0 10px;
    }
  }
}


@media (max-width: 450px) {
  .question__header {
    padding: 0 14px;
}
}
