.question__text {
  font-size: 16px;
  font-family: $fontMedium500;
  color: $colorFontBig;
  padding: 20px 29px 20px 18px;
  line-height: 19.5px;
}

@import '_question__answer.scss';

@import '_answer-extended.scss';
