#question_connect {
  background-color: $bgGrey;
}

.connect_list_radio {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  & li {
    text-align: center;
    position: relative;
  }
  
  & label {
    display: block;
    height: 42px;
    width: 42px;
    font-family: $fontMedium500;
    user-select: none;
    color: #000;
    font-size: 12px;
    line-height: 40px;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
  }
  & input {
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0;
    & ~ label {
      transition: 0.4s all;
      &::after, &::before {
        content: "";
        display: block;
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        transition: 0.4s all;
      }
      &::after {
        width: 0px;
        height: 0px;
        top: 21px;
        left: 21px;
        background-image: url(../img/connect-ellips-big.svg);
      }
      &::before {
        width: 0px;
        height: 0px;
        position: absolute;
        top: 21px;
        left: 21px;
        background-image: url(../img/connect-ellips-small.svg);
      }
    }
    &:checked ~ label {
      background: #000;
      color: $colorWhite;
      &::after {
        width: 148px;
        height: 148px;
        top: -54px;
        left: -54px;
      }
      &::before {
        width: 62px;
        height: 62px;
        top: -10px;
        left: -10px;
        
      }
    }
  }
}