#block-submit {
  background-color: $bgGrey;
  padding: 50px 0;
  z-index: 3;
}

.wrap-submit {
  width: 160px;
  height: 42px;
  border-radius: 30px;
  margin: 0 auto;
  display: block;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(-45deg, transparent 42px, #E9041E 0);
    background-size: 0;
    transition: background-size 0.5s;
    background-repeat: no-repeat;
  }

  &:hover::after {
    background-size: 130%;
  }
}

#submit {
  width: 160px;
  height: 42px;
  border: 2px solid $colorRed;
  border-radius: 30px;
  background-color: transparent;
  display: block;
  cursor: pointer;
  font-family: $fontBold700;
  font-size: 16px;
  letter-spacing: 0.02em;
  position: absolute;
  z-index: 2;
  transition: color 0.6s;

  &:hover {
    color: $colorWhite;
  }
}

