#block-submit {
  background-color: $bgGrey;
  padding: 50px 0;
  // display: block;
  z-index: 3;
}

.wrap-submit {
  width: 160px;
  height: 42px;
  border-radius: 30px;
  margin: 0 auto;
  display: block;
  position: relative;

  &::after, &::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &::after {
    background: linear-gradient(to right, #E9041E 100%, transparent 0%);
    background-size: 0;
    background-position: -41px 0;
    transition: background-size 0.8s;
    background-repeat: no-repeat;
  } 
  
  &::before {
    background: linear-gradient(to bottom right, #E9041E 50%, transparent 52%);
    background-size: 42px;
    background-position: -42px 0;
    transition: background-position 0.8s;
    background-repeat: no-repeat;
  }

  &:hover::after {
    background-size: 202px;
  }
  &:hover::before {
    background-position: 160px 0;
  }
}

#submit {
  width: 160px;
  height: 42px;
  border: 2px solid $colorRed;
  border-radius: 30px;
  background-color: transparent;
  display: block;
  cursor: pointer;
  font-family: $fontBold700;
  font-size: 16px;
  letter-spacing: 0.02em;
  position: absolute;
  z-index: 2;
  transition: color 1s;

  &:hover {
    color: $colorWhite;
  }
}