$colorWhite: #fff;
$bgGrey: #F0F0F0;
$colorRed: #E9041E;


$colorFontBig: #171717;
$colorFontSmall: #252525;

$fontExtraBold800: 'Montserrat-ExtraBold', serif;
$fontMedium500: 'Montserrat-Medium', serif;
$fontRegular400: 'Montserrat', serif;
$fontBold700: 'Montserrat-Bold', serif;
