$colorWhite: #fff;
$bgGrey: #F0F0F0;

$colorFontBig: #171717;
$colorFontSmall: #252525;

$fontFamTitle: 'Montserrat-ExtraBold', serif;
$fontFamBig: 'Montserrat-Medium', serif;
$fontFamSmall: 'Montserrat', serif;
