* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul[class],
ol[class] {
  list-style: none;
}

@import 'fonts';
@import 'variables';

.body {
  background-color: $colorWhite;
}

.container {
  max-width: 375px;
  margin: 0 auto;
}

.main {
  background-color: $colorWhite;
}


@import '_header.scss';
@import '_question__header.scss';
@import '_question__body.scss';