* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

ul[class],
ol[class] {
  list-style: none;
}

@import 'fonts';
@import 'variables';

.body {
  background-color: $colorWhite;
}

.container {
  max-width: 375px;
  margin: 0 auto;
}

.main {
  background-color: $colorWhite;
}

@import '_header.scss';
@import '_question__header.scss';
@import '_question__body.scss';
@import '_submit.scss';
@import '_question_comment';
@import '_question_connect';


.hide {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: 0.1;} to {opacity: 1;} 
}

.show {
  display: block;
}

.margin-bottom {
  margin-bottom: 60px;
}

.padding-bottom {
  padding-bottom: 60px;
}